.add--form form {
  display: grid;
  justify-items: center;
  gap: .7rem;
}

.add--form h1 {
  padding-bottom: 1rem;

  text-align: center;
}

.add--form__topic {
  width: 90%;
  padding: .4rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.add--form__code {
  width: 90%;
  height: 7rem;

  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.add--form__upload {
  width: 45%;

  font-size: .7rem;
}

.add--form__preview {
  display: flex;

  width: 100px;
}

.add--form__btn {
  width: 10rem;
  padding: .7rem 0;
  border: none;
  border-radius: 5px;
  background: var(--primary-color);

  color: var(--white-color);
}

