.addContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titleRectangle {
  box-sizing: border-box;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 321px;
  height: 100px;
  background: #ffffff;
  border: 1px solid #32c3ff;
  border-radius: 9px;
}

.codeRectangle {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 321px;
  height: 100px;
  background: #ffffff;
  border: 1px solid #32c3ff;
  border-radius: 9px;
}

.upload {
  width: 322px;
  height: 52px;
  left: calc(50% - 322px * 0.5 + 0.5px);
  top: calc(50% - 52px * 0.5 + 143px);
  background: #32c3ff;
  border: 1px solid #96d1df;
  border-radius: 5px;
}

input.upload::file-selector-button {
  display: none;
}

.questionButton {
  width: 322px;
  height: 52px;
  left: calc(50% - 322px * 0.5 + 0.5px);
  top: calc(50% - 52px * 0.5 + 243px);
  background: #32c3ff;
  border: 1px solid #96d1df;
  border-radius: 5px;
}

.prevwImg {
  display: flex;
  width: 100px;
}
