.mentor--card {
  max-width: 300px;
  width: 75dvw;
  padding: 1.2em 1.3em;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.64rem;

  text-align: center;
}

.mentor--card img {
  position: relative;
  border-radius: 50%;
  width: 5rem;

  transform: translateY(-4rem);
  z-index: 0;

  margin-bottom: -4rem;

  border: 0.2rem solid var(--white-color);
}

.mentor--card__content {
  font-size: 0.938rem;
}

.mentor--card__content {
  & h2 {
    font-size: 1.5rem;
    font-weight: 600;

    padding-bottom: .3rem;
  }

  & p {
    font-size: 0.94rem;

    padding-bottom: 1.5rem;
  }
}

.mentor--card__btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.mentor--card__btns--profile button {
  padding: 0.6rem 2rem;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.32rem;
  background-color: var(--primary-color);
  
  font-size: 1rem;
  color: var(--white-color);
}