/* MENTOR PROFILE */
.mentor--profile {
  margin-top: 7rem;
}

/* Container */
.mentor--profile__container {
  width: 82%;
  margin: 0 auto;

  text-align: center;
}

/* Mentor Course */
.mentor--profile__container--course {
  padding-bottom: 1rem;

  text-transform: uppercase;
}

/* Mentor Avatar */
.mentor--profile img {
  width: 5rem;
  border-radius: 50%;
}

/* Mentor label */
.mentor--profile__container span {
  display: block;

  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  padding: 4px 16px;
  border-radius: 20px;
  background-color: var(--secondary-color);

  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
}

/* Mentor name */
.mentor--profile__container--name {
  padding-bottom: 0.3rem;

  font-size: 1.3rem;
}

/* Mentor email */
.mentor--profile__container--email {
  font-size: 0.9rem;
  font-style: italic;

  padding-bottom: 0.7rem;
}

/* Mentor about */
.mentor--profile__container--about {
  width: 90%;
  margin: 0 auto;
}

/* Mentor occupation */
.mentor--profile__container--occupation {
  font-size: 1.1rem;
  font-weight: 600;
}

/* Mentor company */
.mentor--profile__container--company {
  font-size: 1.1rem;
  font-weight: 500;
}

/* Mentor buttons */
.mentor--profile__btns {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 2rem;
}

.mentor--profile__btns--edit {
  width: 6rem;
  padding: 0.5rem 0;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.32rem;
  background-color: var(--primary-color);

  color: var(--white-color);
}

.mentor--profile__btns--logout {
  width: 6rem;
  padding: 0.5rem 0;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.32rem;
  background-color: var(--white-color);

  color: var(--primary-color);
}

/* Mentor's questions */
.mentor--profile__question {
  margin-top: 2rem;
  padding: 1.2rem 1.4rem;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.mentor--profile__question--link {
  text-decoration: none;
}

.mentor--profile__question h2 {
  padding-bottom: .7rem;

  font-size: 1rem;
  color: var(--black-color);
  text-align: left;
}

/* Coding block for both (mentor and mentee) */
pre {
  text-align: left;
}

code {
  font-size: .85rem;
  color: var(--grey-color);
}

/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */

/* MENTEE PROFILE */
.mentee--profile {
  margin-top: 7rem;
}

/* Mentee Container */
.mentee--profile__container {
  width: 82%;
  margin: 0 auto;

  text-align: center;
}

/* Mentee Course */
.mentee--profile__course {
  padding-bottom: 1rem;

  text-transform: uppercase;
}

/* Mentee Avatar */
.mentee--profile img {
  width: 5rem;
  border-radius: 50%;
}

/* Mentee label */
.mentee--profile__container span {
  display: block;

  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  padding: 4px 16px;
  border-radius: 20px;
  background-color: var(--mentee-color);

  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
}

/* Mentee Name */
.mentee--profile__container--name {
  padding: 0.3rem;

  font-size: 1.3rem;
}

/* Mentee email */
.mentee--profile__container--email {
  font-size: 0.9rem;
  font-style: italic;

  padding-bottom: 0.7rem;
}

/* Mentee About */
.mentee--profile__container--about {
  width: 90%;
  margin: 0 auto;
}

/* Mentee Buttons */
.mentee--profile__btns {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 2rem;
}

.mentee--profile__btns--edit {
  width: 6rem;
  padding: 0.5rem 0;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.32rem;
  background-color: var(--primary-color);

  color: var(--white-color);
}

.mentee--profile__btns--logout {
  width: 6rem;
  padding: 0.5rem 0;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.32rem;
  background-color: white;

  color: var(--primary-color);
}

/* Mentee's questions */
.mentee--profile__question {
  margin-top: 2rem;
  padding: 1.2rem 1.4rem;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.mentee--profile__question--link {
  text-decoration: none;
}

.mentee--profile__question h2 {
  padding-bottom: .7rem;

  font-size: 1rem;
  color: var(--black-color);
  text-align: left;
}
