.skills {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .7rem;

  max-width: 1440px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.skills__chips--noselected {
  padding: 5px 15px;
  border: 0.125rem solid var(--grey-color);
  border-radius: 20px;
  background-color: var(--white-color);

  font-size: 0.875rem;
  color: var(--grey-color);
}

.chips :focus {
  background-color: var(--primary-color);

  color: var(--white-color);
}

.skills__chips--selected {
  padding: 5px 15px;
  border: 0.125rem solid var(--primary-color);
  border-radius: 20px;
  background-color: var(--primary-color);

  font-size: 0.875rem;
  color: var(--white-color);
}

.showMore {
  position: absolute;
  bottom: -2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.1rem;
  border-bottom: 0.12rem solid var(--secondary-color);

  font-weight: 600;
  color: var(--secondary-color);
  text-align: center;
}

.showMore {
  & p {
    font-size: 0.7rem;
  }
}

.showLess {
  position: absolute;
  bottom: -2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.1rem;
  border-bottom: 0.12rem solid var(--secondary-color);

  font-weight: 600;
  color: var(--secondary-color);
  text-align: center;
}

.showLess {
  & p {
    font-size: 0.7rem;
  }
}
