.skills {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  margin-top: 5rem;
}

.skills__chips--noselected {
  margin: .3rem 0.2rem;
  padding: 0.2rem 0.4rem;
  border: 0.125rem solid var(--grey-color);
  border-radius: 1.25rem;
  background-color: var(--white-color);

  font-size: 0.875rem;
  color: var(--grey-color);
}

.chips :focus {
  background-color: var(--primary-color);

  color: var(--white-color);
}

.skills__chips--selected {
  margin: .3rem .2rem;
  padding: 0.2rem 0.4rem;
  border: 0.125rem solid var(--grey-color);
  border-radius: 1.25rem;
  background-color: var(--primary-color);

  font-size: 0.875rem;
  color: var(--white-color);
}

.showMore {
  position: absolute;
  bottom: -2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: .3rem;
  border-radius: 3px;
  background-color: var(--secondary-color);

  color: var(--white-color);
  text-align: center;
}

.showMore {
  & p {
    font-size: .7rem;
  }
}

.showLess {
  position: absolute;
  bottom: -2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: .3rem;
  border-radius: 3px;
  background-color: var(--secondary-color);

  color: var(--white-color);
  text-align: center;
}

.showLess {
  & p {
    font-size: .7rem;
  }
}
