.loginForm {
    display: grid;
    gap: 1.5rem;

    width: 82%;
}

.labelInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labelInput > label {
    padding-bottom: 0.7rem;
}

.login-email {
    font-weight: 400;
    font-size: 1rem;

    color: var(--black-color);
}

.login-email > input {
    padding: 1rem;

    background-color: var(--white-color);
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.313rem;
}

.login-password {
    font-weight: 400;
    font-size: 1rem;

    color: var(--black-color);
}

.login-password > input {
    padding: 1rem;

    background-color: var(--white-color);
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.32rem;
}

.loginBtn {
    margin-top: 10.5rem;
    padding: 0.9rem 1.1rem;

    background-color: var(--primary-color);
    border: none;
    border-radius: 0.32rem;

    cursor: pointer;
}

.loginBtn > button {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;

    display: block;

    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;

    cursor: pointer;
}