:root {
    --primary-color: #32C3FF;
    --secondary-color: #212552;
    --tertiary-color: #F1F1F1;

    --chat-color: rgba(50, 195, 255, 0.1);
    --black-color: #131213;
    --white-color: #fff;

    --ff-ss: 'Poppins', sans-serif;
    --ff-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100vh;
    padding: 4rem 0;
}

.homeContainer > img {
    width: 11rem;
}

.carrouselContainer {
    display: flex;
    justify-content: center;
}

.carrouselContainer > img {
    width: 75%;
}

.homeBtns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    width: 100%;
}

.signupBtn-Home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1.1rem;
    width: 82%;

    background-color: #32C3FF;
    border: none;
    border-radius: 0.32rem;
}

.signupBtn-Home * button {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;

    background-color: #32C3FF;
    color: white;
    border: none;

    cursor: pointer;
}

.loginBtn-Home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    width: 82%;

    background-color: white;
    border: 0.125rem solid #32C3FF;
    border-radius: 0.32rem;
}

.loginBtn-Home * button {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;

    background-color: white;
    color: #32C3FF;
    border: none;

    cursor: pointer;
}

