.profileImg {
  width: 10%;
}

.title {
  position: absolute;
  background: #ffffff;
  border: 1px solid #32c3ff;
  border-radius: 9px;

  left: 30px;
  top: 105px;
  text-align: center;
}

.description {
  position: absolute;

  left: 20px;
  right: 20px;
  top: 145px;

  background: #ffffff;
  border: 1px solid #32c3ff;
  border-radius: 9px;
  text-align: center;
}

.post {
  width: 76px;
  height: 44px;
  left: calc(50% - 76px / 2 + 118.5px);
  top: calc(50% - 44px / 2 + 107px);

  background: #32c3ff;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.showComment {
  left: 18px;
  top: 561px;

  background: #f0f0f0;
  border-radius: 21px;
}

.comment-area {
  width: 223px;
  height: 52.11px;
  background: #ffffff;
  border: 1px solid #32c3ff;
  border-radius: 9px;
}

.postComment {
  display: flex;
  justify-content: center;
}
