.feed {
  display: grid;
  justify-items: center;
  margin-top: 5rem;
}

.feed__btn {
  position: fixed;
  bottom: 120px;

  width: 90%;
  max-width: 330px;
  margin-top: 7rem;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);

  z-index: 1;
}

.feed a {
  text-decoration: none;
  text-align: center;
  color: var(--white-color);
}