.feed {
  display: grid;
  justify-items: center;
  margin-top: 5rem;
}

.feed__link--container {
  position: fixed;
  bottom: 99px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 420px;
  height: auto;
  padding: 2rem 0;
  background-color: var(--white-color);

  z-index: 2;
}

.feed__btn {
  width: 90%;
  max-width: 330px;
  margin: 0 auto;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);

  text-decoration: none;
  text-align: center;
  color: var(--white-color);
}