.question--details {
  margin-top: 7rem;
}

/* Question buttons */
.question--details__btns--edit {
  width: 6rem;
  padding: 0.5rem 0;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.32rem;
  background-color: var(--primary-color);

  color: var(--white-color);
}

.question--details__btns--delete {
  width: 6rem;
  padding: 0.5rem 0;
  border: 0.125rem solid var(--delete-color);
  border-radius: 0.32rem;
  background-color: var(--delete-color);

  color: var(--white-color);
}

/* Post comment */
.question--details__addcomment--textarea {
  width: 223px;
  padding: 1rem;

  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.question--details__addcomment button {
  width: 6rem;
  padding: 0.5rem 0;
  border: 1px solid var(--primary-color);
  border-radius: 0.32rem;
  background: var(--primary-color);

  color: var(--white-color);
}

/* Added Comments */
.question--details__addedcomments {
  left: 18px;
  top: 561px;

  background: #f0f0f0;
  border-radius: 21px;
}

.question--details__addedcomments img {
  width: 10%;
}
