footer {
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.7rem 0;

    width: 100dvw;
    background-color: var(--tertiary-color);

    font-size: .7em;
    color: var(--black-color);
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    width: 70%;
    list-style-type: none;
}
footer li {
    list-style-type: none;
}
#root {
    margin: 0;
    width: 100%;
}
footer nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
img {
    width: 100%;
    height: auto;
}
