.mentors__grid {
  display: grid;
  justify-items: center;
  grid-row-gap: 5rem;
  border: 2px solid green;

  max-width: 1440px;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 9rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) { 
  .mentors__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) { 
  .mentors__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}