.signup--form {
    display: grid;
    gap: 1.5rem;

    width: 100%;
    padding: 0 2rem;
}

.labelInput > label {
    padding-bottom: 0.7rem;
}

.username {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 400;
    font-size: 1rem;

    color: var(--black-color);
}

.username > input {
    padding: 1rem;

    font-size: 1.1rem;

    background-color: var(--var(--white-color)-color);
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.32rem;
}

.email {
    font-size: 1rem;
    font-weight: 400;

    color: var(--black-color);
}

.email > input {
    padding: 1rem;

    font-size: 1.1rem;

    background-color: var(--white-color);
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.313rem;
}

.password {
    font-weight: 400;
    font-size: 1rem;

    color: var(--black-color);
}

.password > input {
    padding: 1rem;

    font-size: 1.1rem;

    background-color: var(--white-color);
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.32rem;
}

.signupBtn {
    margin-top: 3rem;
    padding: 0.9rem 1.1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.32rem;
}

.signupBtn button {
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    color: var(--white-color);

    display: block;

    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;

    cursor: pointer;
}