.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100dvh;
  padding-top: 15dvh;
  padding-bottom: 4rem;
}

.signup img {
  width: 9rem;
}
