.question--card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question--card__each {
  display: flex;
  flex-direction: column;

  width: 82%;
  padding: 1.2em 1.3em;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.5);
}

.question--card__each--user {
  display: flex;
  gap: 10px;
}

.question--card__each--user img {
  border-radius: 100%;
}

.question--card__each--content {
  color: black;
}

.question--card__each--btn {
  margin-top: 10px;
  padding: 0.6rem 2rem;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.32rem;
  background-color: var(--white-color);

  font-size: 0.7rem;
  color: var(--primary-color);
}
