.question--card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question--card__each {
  display: flex;
  flex-direction: column;

  width: 82%;
  padding: 1.2em 1.3em;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.5);
}

.question--card__each--user {
  display: flex;
  gap: 10px;
  align-items: flex-end;

  margin-bottom: 1rem;
}

.question--card__each--user img {
  border-radius: 100%;
  width: 35px;
}

.question--card__each--user p {
  font-weight: 600;
}

.question--card__each--content {
  color: black;
}

.question--card__each--btn {
  margin-top: 10px;
}

.question--card__each--btn button {
  padding: .2rem .5rem;
  background: none;
  border: 2px solid var(--primary-color);
  border-radius: .3rem;
  outline: inherit;

  font: inherit;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
}

.question--card__each--read {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.question--card__each--read img {
  width: 22px;
  height: auto;
}

.question--card__each--comments {
  display: flex;
  gap: .2rem;
  align-items: center;
}

.question--card__each--comments p{
  font-size: .8rem;
  color: var(--primary-color);
}
